<!DOCTYPE html>
<html lang='en'>
<title>InfoNete</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"><link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<link rel="stylesheet" href="../public/css/estiloListaDeNotas.css">
<link rel="stylesheet" href="../public/css/estiloEditarNota.css">
<!-- tiny editor de texto -->
<script src="https://cdn.tiny.cloud/1/drkb6279inpy6h5lixs8uplbfdafubwa3iyb1iyml2uhne9m/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript" src="../../public/js/tinymce.js"> </script>

<script type="text/javascript" src="../../public/js/jquery.js"></script>
<script type="text/javascript" src="../../public/js/funciones.js"></script>

<body>
{{#ADMINISTRADOR}}
    <!-- The Band Section -->

    <div class='w3-top'>
        <div class='w3-bar w3-black w3-card'>
            <a class='w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right'
               href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu'><i
                    class='fa fa-bars'></i></a>

            <a href='/administrador/home' class='w3-bar-item w3-button w3-padding-large'>Inicio</a>
            <a href='/administrador/acciones' class='w3-bar-item w3-button w3-padding-large'>Usuarios</a>
            <a href='/contenidista/altaEdicion' class='w3-bar-item w3-button w3-padding-large'>Agregar Edicion</a>
            <a href='/contenidista/agregarSeccion' class='w3-bar-item w3-button w3-padding-large'>Agregar Seccion</a>
        {{> logoutButtonView}}
        </div>

{{/ADMINISTRADOR}}

{{#CONTENIDISTA}}
        <!-- The Band Section -->
        <div class='w3-top' >
            <div class='w3-bar w3-black w3-card'>
                <a class='w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right'
                  href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu'><i
                            class='fa fa-bars'></i></a>
                                <a href='/contenidista/home' class='w3-bar-item w3-button w3-padding-large'>Inicio</a>
                                <a href='/contenidista/alta' class='w3-bar-item w3-button w3-padding-large'>Crear publicacion</a>
                                <a href='/contenidista/altaEdicion' class='w3-bar-item w3-button w3-padding-large'>Agregar Edicion</a>
                                <a href='/contenidista/agregarSeccion' class='w3-bar-item w3-button w3-padding-large'>Agregar Seccion</a>
              </div>
            {{> logoutButtonView}}
        </div>
{{/CONTENIDISTA}}

{{#ESCRITOR}}

    <div class='w3-top' style="height: 30px">
        <div class='w3-bar w3-black w3-card'>
            <a class='w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right'
               href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu'><i
                    class='fa fa-bars'></i></a>
            <a href='/contenido/home' class='w3-bar-item w3-button w3-padding-large'>Inicio</a>
            <a href='/contenido/crearNoticia' class='w3-bar-item w3-button w3-padding-large'>Crear Noticia</a>

        </div>
        {{> logoutButtonView}}
    </div>{{/ESCRITOR}}

{{#LECTOR}}

    <div class='w3-top'>
        <div class='w3-bar w3-black w3-card'>
            <a class='w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right'
               href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu'><i
                    class='fa fa-bars'></i></a>
            <a href='/lector/verPublicaciones' class='w3-bar-item w3-button w3-padding-large'>Inicion</a>
            <a href='/lector/verPublicaciones' class='w3-bar-item w3-button w3-padding-large'>Explorar</a>
        </div>
        {{> logoutButtonView}}
    </div>

{{/LECTOR}}

<!-- Page content -->
<div class='w3-content' style='max-width:2000px;margin-top:46px;'>