<!DOCTYPE html>
<html lang='en'>
<title>InfoNete</title>
<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>

<body>

<!-- Navbar -->
<div class='w3-top'>
    <div class='w3-bar w3-black w3-card'>
       <a href='/' class='w3-bar-item w3-button w3-padding-large'>Inicio</a>
       <!--<a href='/canciones' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Canciones</a>-->
       <!--<a href='/presentaciones' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Presentaciones</a>-->
       <!--<a href='/quieroserparte/alta' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Quiero Ser Parte</a>-->
       <!-- //TODO: carga de noticias, redactor -->
       <!--<a href='/contenido/crearNoticia' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Ingresar una noticia</a>-->
       <!--<a href='/registrarse/alta' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Quiero Registrarme</a>-->
       <!--<a href='/login/validarLogin' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Iniciar Sesión</a>-->
</div>

<div style="float: right">
    {{^data}}
    <a href='/login/validarLogin' class='w3-bar-item w3-button w3-padding-large w3-hide-small'>Iniciar Sesión</a>
    {{/data}}
    <a href='/login/cerrarSesion' class='w3-bar-item w3-button w3-padding-large'>Cerrar Sesión</a>


</div>




<!-- Page content -->
<div class='w3-content' style='max-width:2000px;margin-top:46px'>