{{> cabecera}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:50%'   id='band'>
    <h2 class='w3-wide'>Alta Usuario</h2>
    <br>
    <h3>{{#mensaje}}{{mensaje}}{{/mensaje}} </h3>
    <form method="post" action="/administrador/nuevo_usuario" id="form">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre </label>
            <input type="text" class="form-control" id="nombre" aria-describedby="nombre" name="nombre" pattern="[a-zA-Z0-9]+" minlength="2" maxlength="51" required>
            <div id="nombre" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="direccion" class="form-label">Direccion </label>
            <input type="text" class="form-control" id="direccion" aria-describedby="direccion" name="direccion" minlength="2" maxlength="51" onchange="getLocation()">
            <div id="direccion" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email" required>
            <div id="emailHelp" class="form-text"></div>
        </div>
        <!---------------------------------------- CHECKBOX ROL ------------------------------------------------------------>
            <label>Rol</label>
        <div class="d-flex justify-content-around mb-3">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="exampleRadios1" value="2" checked>
                <label class="form-check-label" for="exampleRadios1">ADMINISTRADOR</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="exampleRadios2" value="1">
                <label class="form-check-label" for="exampleRadios2">LECTOR</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="exampleRadios3" value="4">
                <label class="form-check-label" for="exampleRadios3">CONTENIDISTA</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="rol" id="exampleRadios3" value="3">
                <label class="form-check-label" for="exampleRadios3">ESCRITOR</label>
            </div>
        </div>
        <!---------------------------------------- CHECKBOX ROL ------------------------------------------------------------>
        <div class="mb-3">
            <label for="clave" class="form-label">Clave</label>
            <input type="password" class="form-control" id="clave" name="clave" minlength="2" maxlength="51" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

        <script>
            $("#form").validate({
                rules: {
                    nombre : {
                        required: true,
                        minlength: 3,
                        maxlength: 50,
                    },
                    email: {
                        required: true,
                        email: true,
                    },

                },
                messages : {
                    nombre: {
                        required: "Este campo es obligatorio",
                        minlength: "El nombre debe tener al menos 3 caracteres de longitud",
                        maxlength: "El nombre no puede poseer más de 50 caracteres de longitud"
                    },
                    email: {
                        required: "Este campo es obligatorio";
                        email: "Por favor, ingrese un email válido de la forma: ejemplo@ejemplo.com"
                    },
                }
            });

        </script>
{{> footer}}