{{> cabecera}}

        <div class="row d-flex justify-content-center align-items-center" style="margin-top:5%;vertical-align:top">
            <form method="post" action="#" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-md-6" style="max-width: 50%;margin-top:1%;float:left;">
                        <label for="cars">Publicacion</label>
                          <select name="publicacion" id="cars" style="width:100%;" >
                            {{#publicaciones}}
                            <option value={{informacion}}>{{informacion}}</option>
                            {{/publicaciones}}
                          </select>
                    </div>
                    <div class="form-group col-md-6"style="max-width: 50%">
                        <label for="inputnombre">Numero Edicion</label>
                        <input type="text" class="form-control" id="inputnombre" placeholder="Nombre" name="descrip">
                    </div>
                    <div class="form-group col-md-6"style="max-width: 50%">
                          <h3>Secciones a agregar</h3>
                          {{#secciones}}
                              <input type="checkbox" name={{descrip}} value={{descrip}}>
                              <label for={{descrip}}> {{descrip}}</label>
                          {{/secciones}}
                    </div>
                    <button type="submit"  class="btn btn-dark btn-lg btn-block ">Guardar</button>
                </div>
            </form>
        </div>
{{> footer}}