{{> header}}
<!-- The Band Section -->
<div class="row d-flex justify-content-center align-items-center h-100">
    <form method="post" action="/Contenido/cargarNoticia">

    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="inputnombre">Nombre de la Noticia</label>
            <input type="text" class="form-control" id="inputnombre" placeholder="Nombre" name="nombreNoticia">
        </div>

        <div class="form-group col-md-6">
            <label for="inputEdicion">Edicion</label>
            <input type="text" class="form-control" id="inputEdicion" placeholder="Edicion" name="edicion">
        </div>

    </div>


    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="seccionNoticia">Seccion de la noticia</label>
            <input type="text" class="form-control" id="seccionNoticia" name="seccionNoticia">
        </div>

        <div class="form-group col-md-6">
            <label for="tipoEdicion">Tipo de Edicion</label>
            <select id="tipoEdicion" class="form-control">
                <option selected>Choose...</option>
                <option>Diario</option>
                <option>Revista</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="tipoNoticia">Tipo de la noticia</label>
            <input type="text" class="form-control" id="tipoNoticia" name="tipoNoticia">
        </div>

        <div class="form-group col-md-6">
            <label for="precioNoticia">Precio de la Noticia</label>
            <input type="number" class="form-control" id="precioNoticia" name="precioNoticia">
        </div>

    </div>
    <div class="form-group">
        <label for="DescripcionNoticia">Descripcion de la noticia</label>
        <textarea class="form-control" id="DescripcionNoticia" rows="5" name="descripcionNoticia"></textarea>
    </div>
    <div class="form-group">
        <label for="imagenes">imagenes </label>
        <input type="file" class="form-control-file" id="imagenes">
    </div>


    <button type="submit"  class="btn btn-dark btn-lg btn-block ">Guardar</button>
</form>
</div>

</div>
{{> footer}}