{{>cabecera}}
<!-- The Band Section -->
<div class='w3-content' style='width: 95%;margin-top:46px;'>
<div style="margin-top: 50px">
<button id="botonEditar"  onclick="MostrarformParaEditar()" style="display: inline">editar</button>
<button id="botonCancelar" onclick="MostrarformParaEditar()" style="visibility: hidden;border: bisque 2px solid;display:inline;
">Cancelar</button>




    <div id="textoOcultar">{{#nota}}
        <p   style="font-size: 10px; display: inline; margin-right: 20px" >Estado | {{Estado}} </p>
        <p  style="font-size: 10px; display: inline ; margin-right: 20px"> Edicion | {{descripEdicion}}</p>
        <p  style="font-size: 10px; display: inline"> Seccion | {{descripSeccion}}</p>
            <h1 style="font-weight: bold">{{Titulo}}</h1>
         <h3 style="text-align: left">{{Subtitulo}}</h3>

            <img src="../public/Img/notas/{{Imagen}}" alt="" style="margin-bottom: 15px">
               <div>{{{contenido}}}</div>

         {{/nota}}
     </div>
<form action="actualizar" method="post" style="display: none" enctype="multipart/form-data" id="formContenido" >
{{#nota}}
    <p   style="font-size: 10px; display: inline; margin-right: 20px" >Estado | {{Estado}} </p>
    <p  style="font-size: 10px; display: inline ; margin-right: 20px"> Edicion | {{descripEdicion}}</p>
    <p  style="font-size: 10px; display: inline"> Seccion | {{descripSeccion}}</p>

    <div class="form-row">
        <label class="label">Titulo noticia</label>
        <textarea id="tituloNoticia"  class="form-control"name="tituloNoticia"  rows="3"onkeyup="myFunction()">{{Titulo}}</textarea>
        <input type="number" name="id" style="display: none" value="{{id}}" id="id">
    </div>

    <div class="form-group">
        <label for="subtitulo" class="label">Subtitulo de la noticia</label>
        <textarea class="form-control"  onkeyup="myFunction()" rows="5" name="subtituloNoticia">{{Subtitulo}}</textarea>
    </div>
    <div class="form-group col-md-6">
        <label  class="label">Imagen de portada</label>
        <img src="../public/Img/notas/{{Imagen}}" alt="" width="75%">
        <input type="file"  class="form-control-file" id="imagen" name="imagen">
        <input  type="text"hidden value="{{Imagen}}" name="imagenVieja" >

    </div>
    <div class="form-group">
        <label for="contenidoNoticia" class="label">Descripcion de la noticia</label>
        <textarea class="form-control" id="contenidoNoticia" onkeyup="myFunction()" rows="20" name="contenidoNoticia">{{contenido}}</textarea>
        <spa id="msj"></spa>

        <input type="text" hidden id="prueba" name="contenidoNoticia">
    </div>





    <div class="form-group col-md-6">
        <label for="precioNoticia" class="label">Precio de la Noticia</label>
        <input type="number" id="precioNoticia" name="precioNoticia" onkeyup="myFunction()" value="{{precio}}">

    </div>
    <div class="form-group col-md-6">
        <label for="link" class="label">Link de la noticia</label>
        <input type="text" class="form-control" id="linkNoticia" value="{{link}}" name="linkNoticia">
    </div>

    <div class="form-group">
        <button type="submit"  class="btn btn-dark btn-lg btn-block " name="boton" onclick="pararEnvio()">Guardar</button>

    </div>

{{/nota}}
    </form>
</div>


<script >
    function MostrarformParaEditar(){
        console.log(document.getElementById("id"))
        if (document.getElementById("textoOcultar").style.display !="none" ) {
            document.getElementById("textoOcultar").style.display ="none"
            document.getElementById("formContenido").style.display="block";
            document.getElementById("botonEditar").style.visibility="hidden";
            document.getElementById("botonCancelar").style.visibility="visible";

        } else {
            console.log(document.getElementById("formContenido").style.visibility=="visible")

            document.getElementById("textoOcultar").style.display="block"
            document.getElementById("formContenido").style.display="none";
            document.getElementById("botonEditar").style.visibility="visible";
            document.getElementById("botonCancelar").style.visibility="hidden";
        }

    }


</script>
{{> footer}}