{{> cabecera}}


<div class='w3-content' style='width: 90%'>
    <h2 class='w3-wide' style="text-align: center">Lista de notas </h2>
<div class="contenedor" style="width: 100%">
{{#contenido}}


    <div style="width: 40%">

        <p   style="font-size: 10px; display: inline; margin-right: 20px" >Estado -> {{estado}} </p>
        <p  style="font-size: 10px; display: inline ; margin-right: 20px"> Edicion: {{descripEdicion}}</p>
        <p  style="font-size: 10px; display: inline"> Seccion: {{descripSeccion}}</p>



        <h3 style="font-weight: bold;" >{{Titulo}}</h3>


        <img  src="../public/Img/notas/{{Imagen}}" style="width: 250px" alt="...">


            <h5>{{Subtitulo}}</h5>
      <a href="editar?id={{id}}" style="border-bottom: 1px solid black;texte-decoretion: none;

        ">Ver mas</a>
        <br>

        <br>

        <a href="editar?id={{id}}" style="  border: darkcyan 1px solid; padding :5px"  >Editar</a>
        <a href="eliminar?id={{id}}"  style="  border: darkcyan 1px solid; padding :5px; margin-left:8px">Eliminar
    </a>



    </div>

{{/contenido}}
</div>
{{> footer}}