{{> header}}
   <div class='w3-container w3-content w3-center w3-padding-64' style='max-width:800px' id='band'>
       <h2 class='w3-wide'>Iniciar Sesión</h2>
       <form method="post" action="/login/procesarLogin">
           <div>
               <label>Email:</label>
               <input type="mail" name="email">
           </div>
           <div>
               <label>password:</label>
               <input type='password' name='clave'>
           </div>
           <button type="submit">Enviar</button>
       </form>
   </div>
{{> footer}}