{{> header}}
<!-- The Band Section -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<style>
    label.error {
        color: red;
        font-size: 1rem;
        display: block;
        margin-top: 5px;
    }

    input.error, textarea.error {
        border: 1px dashed red;
        font-weight: 300;
        color: red;
    }
</style>
<div class='w3-container w3-content w3-center w3-padding-64' style='max-width:50%' id='band'>
    <h2 class='w3-wide text-light display-4'>Registrarse</h2>
    <br>
    <h3>{{#mensaje}}{{mensaje}}{{/mensaje}} </h3>
    <form method="post" action="/registrarse/procesarAlta" id="form">
        <div class="mb-1">
            <label for="nombre" class="form-label text-light mb-3" style="font-size: 1.5em">Nombre </label>
            <input type="text" class="form-control mb-3" id="nombre" aria-describedby="nombre" name="nombre"
                   pattern="[a-zA-Z0-9]+" minlength="2" maxlength="51" required>
            <div id="nombre" class="form-text"></div>
        </div>
        <div class="mb-">
            <label for="direccion" class="form-label text-light mb-3" style="font-size: 1.5em">Direccion </label>
            <input type="text" class="form-control mb-3" id="direccion" aria-describedby="direccion" name="direccion"
                   minlength="2" maxlength="51" onchange="getLocation()">
            <div id="direccion" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label text-light mb-3" style="font-size: 1.5em">Email </label>
            <input type="email" class="form-control mb-3" id="email" aria-describedby="emailHelp" name="email" required>

            <div id="emailHelp" class="form-text"></div>
        </div>
        <div class="mb-3">
            <label for="clave" class="form-label text-light mb-3" style="font-size: 1.5em">Clave</label>
            <input type="password" class="form-control mb-3" id="clave" name="clave" minlength="2" maxlength="51"
                   required>
        </div>
        <label for="clave" class="form-label text-light mb-3" style="font-size: 1.5em">Ubicación</label>
        <div class="d-flex justify-content-around mb-4">
            <div>
                <input id="latitud" name="latitud" placeholder="Latitud">
            </div>
            <div>
                <input id="longitud" name="longitud" placeholder="Longitud">
                <p id="x"></p>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-outline-success btn-lg btn-block mb-4" onclick="displayMap()">
                Registrarse
            </button>
        </div>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3274.2680188587833!2d-58.654790285224386!3d-34.8494922770498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcdc841311ff73%3A0x2cc6ecd0cc5279d8!2sJos%C3%A9%20M.%20Cortina%206663%2C%20B1763CIC%20Virrey%20del%20Pino%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1667086092241!5m2!1ses-419!2sar"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>


        <script>
            x = document.getElementById("x");

            function getLocation() {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showPosition);
                } else {
                    x.innerHTML = "Geolocation is not supported by this browser.";
                }
            }

            function showPosition(position) {
                var latitud = position.coords.latitude;
                var longitud = position.coords.longitude;
                document.getElementById("latitud").value = latitud;
                document.getElementById("longitud").value = longitud;
            }


        </script>

        <script>
            $("#form").validate({
                rules: {
                    nombre: {
                        required: true,
                        minlength: 3,
                        maxlength: 50,
                    },
                    email: {
                        required: true,
                        email: true,
                    },

                },
                messages: {
                    nombre: {
                        required: "Este campo es obligatorio",
                        minlength: "El nombre debe tener al menos 3 caracteres de longitud",
                        maxlength: "El nombre no puede poseer más de 50 caracteres de longitud"
                    },
                    email: {
                        required: "Este campo es obligatorio";
                        email: "Por favor, ingrese un email válido de la forma: ejemplo@ejemplo.com"
                    },
                }
            });

        </script>


{{> footer}}