{{> cabecera}}

<div class='w3-content' style='width: 90%;'>
    <h2 class='w3-wide' style="text-align: center">Lista de notas </h2>
    <div class="contenedor" style="width: 100%">

        <h3>{{#mensaje}}{{mensaje}}{{/mensaje}} </h3>

            <div style="width: 40%;">

                <a href="/lector/home" style="  border: darkcyan 1px solid; padding :5px"  >Volver</a>

                <br>

            </div>


    </div>
</div>
    {{> footer}}
