{{> cabecera}}

    <div class="pt-4 d-flex flex-column">
        <div class="d-flex justify-content-center"><h4 class="display-4">Acciones</h4></div>
        <div class="p-2 pt-3 d-flex justify-content-center"><a href="/administrador/alta_contenidista" class="btn btn-success btn-lg btn-block" style="width: 80%" role="button" aria-disabled="true">Agregar contenidista</a></div>
        <div class="p-2 pt-3 d-flex justify-content-center"><a href="/administrador/alta_usuario" class="btn btn-success btn-lg btn-block" style="width: 80%" role="button" aria-disabled="true">Agregar usuario</a></div>
        <div class="p-2 pt-3 d-flex justify-content-center"><a href="/administrador/modificar_usuario" class="btn btn-success btn-lg btn-block" style="width: 80%" role="button" aria-disabled="true">Modificar usuario</a></div>
        <div class="p-2 pt-3 d-flex justify-content-center"><a href="/administrador/eliminar_usuario" class="btn btn-danger btn-lg btn-block" style="width: 80%" role="button" aria-disabled="true">Eliminar usuario</a></div>
        <div class="p-2 pt-3 d-flex justify-content-center"><a href="/administrador/eliminar_publicacion" class="btn btn-danger btn-lg btn-block" style="width: 80%" role="button" aria-disabled="true">Eliminar publicación</a></div>
    </div>

{{> footer}}

